<h5>Atualizar informações</h5>

<%= form_for @changeset, status_path(@conn, :update, @status), fn f -> %>
  <div class="form-group">
    <%= text_input f, :nome, placeholder: "Nome", class: "form-control" %>
    <%= error_tag f, :nome %>
  </div>

  <%= submit "Salvar", class: "btn btn-primary" %>
<% end %>
