<h5>Criar novo banco</h5>

<%= form_for @changeset, banco_path(@conn, :create), fn f -> %>
  <div class="form-group">
    <%= text_input f, :nome, placeholder: "Nome", class: "form-control" %>
    <%= error_tag f, :nome %>
  </div>

  <%= submit "Salvar", class: "btn btn-primary" %>
<% end %>
